.comment-card,
.reply-editor {
  margin-bottom: 15px;
}

.comment-card,
.reply-editor {
  padding: 20px;
  max-width: 700px;
  border-radius: 10px;
  background-color: var(--white);
}

li {
  width: 100%;
}

.reply-editor {
  display: flex;
}

.open-editor-button button,
.open-editor-buttongroup button {
  font-size: var(--base-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--moderate-blue);
}

.open-editor-button button:hover,
.open-editor-buttongroup button:hover {
  color: var(--light-grayish-blue);
}

.open-editor-button button:disabled,
.open-editor-buttongroup button:disabled {
  color: var(--light-grayish-blue);
}

.open-editor-button,
.open-editor-buttongroup,
.update-editor-button {
  margin-left: auto;
  align-self: center;
}

.open-editor-buttongroup {
  display: flex;
  gap: 15px;
}

.comment-card-top-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-content-section {
  margin-bottom: 15px;
}

.editor-profile-picture-container {
  flex-shrink: 0;
  margin-right: 15px;
  width: 40px;
  height: auto;
}

.editor-profile-picture {
  width: 100%;
  height: auto;
}

.editor-button,
.update-editor-button {
  margin-left: auto;
  flex-shrink: 0;
  width: 95px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--moderate-blue);
  text-transform: uppercase;
  font-size: var(--base-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--white);
}

.editor-button:hover,
.update-editor-button:hover {
  background-color: var(--light-grayish-blue);
}

.open-editor-buttongroup button:first-child {
  color: var(--soft-red);
}

.open-editor-buttongroup button:first-child:hover {
  color: var(--pale-red);
}

@media screen and (max-width: 750px) {
  .comment-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .open-editor-button,
  .open-editor-buttongroup {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .card-content-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .comment-card-top-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .update-editor-button {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .editor-button,
  .update-editor-button {
    width: 75px;
    height: 35px;
    font-size: 14px;
  }
}

.currentuser-sign {
  margin-right: 15px;
  padding: 2px 8px;
  border-radius: 3px;
  background-color: var(--moderate-blue);
  line-height: 16px;
  font-size: 14px;
  color: var(--white);
}

@media screen and (min-width: 751px) {
  .comment-card {
    margin: 0 auto 15px;
    display: grid;
    grid-template-columns: max-content auto auto;
    grid-template-rows: auto auto auto;
  }

  .new-comment-container {
    margin: 0 auto;
  }

  .reply-editor {
    margin: 0 auto 15px;
  }

  .open-editor-button,
  .open-editor-buttongroup {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .update-editor-button {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .card-content-section {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.picture-container {
  margin-right: 15px;
  width: 35px;
}

.profile-picture {
  width: 100%;
  height: auto;
}

.profile-name-link {
  margin-right: 15px;
  color: var(--dark-blue);
  font-weight: var(--medium-font-weight);
}

.editor-text {
  margin-right: 15px;
  padding: 10px 20px;
  width: 100%;
  height: 75px;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 10px;
  font-size: var(--base-font-size);
  cursor: pointer;
}

.editor-text:hover,
.editor-text:focus {
  border: 1px solid var(--moderate-blue);
}
